@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,700,200);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);

$min-height:570px;

*{
  box-sizing:border-box;
}

body{
 overflow-x:hidden; background:url(https://andreacorda.files.wordpress.com/2015/07/skyline.jpg);
  background-size:cover;
  background-repeat:no-repeat;
  background-position:center center;
  width:100vw;
  height:100vh;
}

.bottom{
  position:absolute;
  bottom:0;
  width:100%;
}

.top{
  top:0;
  position:absolute;
  width:100%;
}

#clouds{
 background:url(http://pngimg.com/upload/cloud_PNG24.png);
  background-size:100% 300px;
  width:100%;
  height:300px;
  position:absolute;
  z-index:5;
  animation:moveClouds 30s infinite linear;
  transform:translateX(-100%);
}
#clouds2{
 background:url(http://pngimg.com/upload/cloud_PNG24.png);
  background-size:100% 300px;
  width:100%;
  height:300px;
  position:absolute;
  top:150px;
  z-index:5;
  animation:30s linear 10s infinite moveClouds;
  transform:translateX(-100%);
}

@keyframes moveClouds{
  from{
    transform:translateX(100%);
  }
  to{
    transform:translateX(-100%);
  }
}

#weather{
  z-index:10;
  width:75%;
  height:80%;
  min-width:600px;
  min-height:$min-height;
  margin: 5% auto;
  position:relative;
  .panelLeft,
  .panelRight{
    width:50%;
    height:100%;
    min-height:$min-height;
    display:inline-block;
    box-sizing:border-box;
    margin:0;
    padding:0;
    position:relative;
  }
  .panelLeft{
    background:linear-gradient(to right,hsla(195,100%,20%,.6),hsla(300,100%,40%,.4));
    background-blend-mode:overlay;
    img{
      width:400px;
      height:auto;
      position:absolute;
      top:calc(50% - 200px);
      left:-50px;
    }
    .top{
      p{
        font-family:"Source Sans Pro",sans-serif;
        color:rgba(white,.6);
        text-align:right;
        width:100%;
        right:0;
        padding-right:10px;
      }
    }
    .bottom{
      .temp{
        padding-left:30px;
        padding-bottom:20px;
        p{
          font-family:"Varela Round",sans-serif;
          color:rgba(white,.8);
          &:first-child{
            font-size:8rem;
            margin-bottom:-35px;
          }
          &:nth-child(2){
            font-family:"Source Sans Pro",sans-serif;
            font-weight:300;
            padding-left:8px;
          }
        }
        
      }
    }
  }
  .panelRight{
    float:right;
    &:after,
    &:before{
      clear:both;
    }
    &>*{
      padding:15px 30px;
    }
    .customHeight{
      height:35%;
      min-height:200px;
      width:100%;
      background:rgba(50,170,250,0.9);
      color:rgba(white,0.7);
      ul{
        list-style:none;
        padding:0;
        margin:20px 0 0;
        li{
          display:inline-block;
          width: 32%;
          p{
            text-align:center;
            font-size:.8rem;
            font-family:"Source Sans Pro",sans-serif;
            font-weight:400;
          }
          svg{
            width:35px;
            height:35px;
            margin: 0 auto;
            display:block;
          }
        }
      }
      p{
        font-family:"Montserrat",sans-serif;
      }
      hr{
        background:rgba(white,0.4);
        height:1px;
        border:transparent;
      }
    }
    .remainingHeight{
      height: 65%;
      min-height: $min-height - 200px;
      background:rgba(white,0.9);
      ul.inline{
        border-bottom: 1px solid rgba(#ccc,0.8);
        list-style:none;
        padding:0;
        li{
          color:#aaa;
          font-family:"Montserrat",sans-serif;
          display:inline-block;
          padding-bottom: 20px;
          margin-right:20px;
          position:relative;
          text-align:center;
          transition: .5s all;
          &:after{
            height:1px;
            background:transparent;
            display:block;
            content:"";
            width:100%;
            position:absolute;
            bottom:-1px;
            transition: .5s all;
          }
          &.active,
          &:hover{
            color:rgba(black,0.9);
            &:after{
              background:tomato;
            }
          }
        }
      }
      ul.forecast{
        list-style:none;
        padding:0;
        margin:0;
        li{
          min-height:60px;
          width:100%;
          font-family:"Montserrat",sans-serif;
          position:relative;
          //border:1px solid red;
          padding-top:18px;
          .time{
            float:left;
            color:rgba(#888,0.9);
            font-family:"Varela Round",sans-serif;
          }
          .temp{
            float:right;
            right:0;
            position:absolute;
            top:10px;
            font-family:"Varela Round",sans-serif;
          }
          .conditions{
            float:right;
            color:rgba(#aaa,0.9);
            float:right;
            font-size:0.8rem;
            right:0;
            position:absolute;
            top:28px;
          }
        }
      }
    }
  }
}
